.articlesSection {
  background-color: var(--very-light-grey);
  padding-block: 70px;
}

.articlesSection h2 {
  font-size: 32px;
  padding-bottom: 40px;
}

.articlesContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}
