.hero {
  background-color: var(--very-light-grey);
}

.container {
  display: flex;
  min-height: 700px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.textSection,
.imageSection {
  flex-basis: 50%;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}

.textSection h1 {
  font-size: 50px;
  max-width: 15ch;
  line-height: 1.2;
}

.textSection p {
  max-width: 42ch;
}

.imageSection {
  /* position: relative; */
}

.mockupImg {
  position: absolute;
  z-index: 10;
  top: -100px;
  right: -150px;
}

.bgDesktop {
  position: absolute;
  /* display: block; */
  z-index: 1;
  top: -250px;
  right: -450px;
}

.bgMobile {
  display: none;
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column-reverse;
    min-height: 1000px;
  }

  .imageSection {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .mockupImg {
    width: auto;
    height: auto;
    scale: 80%;
    top: -275px;
    left: 42.5%;
    transform: translateX(-50%);
  }

  .bgDesktop {
    /* display: none; */
    top: -550px;
    scale: 120%;
    right: 0;
  }
}
