.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  max-width: 1440px;
  margin-inline: auto;
}

.navbar ol {
  display: flex;
  gap: 40px;
}

.navbar li {
  list-style-type: none;
  color: var(--grayish-blue);
}
