.container {
  background-color: var(--light-grayish-blue);
  padding-top: 100px;
}

.container h2 {
  font-size: 32px;
  padding-bottom: 20px;
}

.cardsContainer {
  padding-block: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
